 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1315px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 1002px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 231px auto 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("images/PradeepPatel.jpg");
  background-position: 50% 5.39%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -1200px auto 0 284px;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 283px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-shape-1 {
    height: 860px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 520px;
    margin-top: -1125px;
    margin-right: 150px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-shape-1 {
    height: 612px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 357px;
    height: 357px;
    margin-top: -768px;
    margin-right: 143px;
  }

  .u-section-1 .u-group-1 {
    width: 476px;
    min-height: 415px;
    margin-top: 20px;
    margin-bottom: 51px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-shape-1 {
    height: 552px;
    margin-top: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 286px;
    height: 286px;
    margin-top: -664px;
    margin-right: 88px;
  }

  .u-section-1 .u-group-1 {
    width: 349px;
    min-height: 404px;
    margin-top: 6px;
    margin-right: 57px;
    margin-bottom: 34px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-shape-1 {
    height: 639px;
    width: 390px;
    margin-top: 155px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 235px;
    margin-top: -671px;
    margin-right: 27px;
  }

  .u-section-1 .u-group-1 {
    width: 225px;
    min-height: 436px;
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 103px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 45px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 349px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 15px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 28px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1273px;
}

.u-section-3 .u-group-1 {
  width: 841px;
  min-height: 762px;
  margin: 60px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 32px 0;
}

.u-section-3 .u-shape-1 {
  margin-left: 0;
  margin-top: 0;
}

.u-section-3 .u-image-1 {
  width: 635px;
  height: 635px;
  background-image: url("images/_Confidenceandtrusthavebeenrecurringthemes_fromplayingapieceofmusictolearningsomethingnew.Oftentheobstacleinthewayismyself.Ificouldhelpmyyoungerselfwiththatiwould.__-ANNA_ame.JPG");
  background-position: 50% 0%;
  margin: 19px 81px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 623px;
  min-height: 492px;
  margin: -94px auto 60px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 54px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 65px;
  min-height: 16px;
  width: 214px;
  min-width: 68px;
  margin: 30px 329px 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 615px;
    min-height: 608px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: initial;
    margin-top: initial;
  }

  .u-section-3 .u-image-1 {
    width: 496px;
    height: 496px;
    margin-top: 36px;
    margin-right: 46px;
  }

  .u-section-3 .u-group-2 {
    width: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 54px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 664px;
    margin-top: -19px;
    margin-bottom: 54px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-3 .u-group-1 {
    min-height: 550px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 435px;
    height: 435px;
    margin-top: 0;
    margin-right: 39px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-top: 39px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-3 .u-group-1 {
    min-height: 390px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 306px;
    height: 306px;
    margin-right: 14px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 43px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 838px;
}

.u-section-4 .u-shape-1 {
  height: 351px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  margin: -291px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 147px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 228px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 226px;
  width: 226px;
  background-image: url("images/bb28c5362b34930910e132eaceb77d7ff14a018660bfc0c76fe51bd524723a406185942a13d8f526386c0082dca6e1ceb3d205e70235479cf7bc9a_1280.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 28px auto 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-image-2 {
  height: 226px;
  width: 226px;
  background-image: url("images/5e3b298f55f00bfd9749f44e5f22d40723722c16fb84c26aba56823361b61b9094ce65e69d9df6bda0aecbdc108f76f068caaa67506962a71d3cba_1280.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 28px auto 0;
  padding: 2px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-4 .u-image-3 {
  height: 226px;
  width: 226px;
  background-image: url("images/ac7efd899cb4660433e2f06f2ff649ccdf43d4c5547fac5601e08229956d2be71b36c43a3f995dbdc160ed82c5a9d2c2ed5d65b0836c7a370b8f2f_1280.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 28px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 832px;
  }

  .u-section-4 .u-shape-1 {
    height: 526px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -466px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-bottom: 31px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 188px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1349px;
  }

  .u-section-4 .u-shape-1 {
    height: 636px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -576px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    margin-top: 187px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2108px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 247px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.375rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.375rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.375rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 168px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-5 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-5 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 64px;
  }
}